/* WordPress classes */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
  margin-right: 1.5em;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-smiley { 
	max-height: 1em;
	margin:0 !important;
}

blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 20px;
	text-align: right;
	width: 33%;
}
blockquote.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}

.entry-content {
	.gallery img  {@include  thumb;}
	
	 .featured-image {
		@include grid-column(9,$center:true);
		margin-bottom: 1em;
		
		img {@include thumb;}
	}
	
	ul:not(.gallery), ol {
		li {margin-left: 1.25em;}
	}
}

.post_nav {
	@include grid-row();
	margin: 1em auto;
	[class^="icon-"] {color: $primary-color;}
	
}

#comments {
	.commentlist {
		.comment {@include  panel;}
		li {list-style: none; }
		.depth-2 {margin-left: 2%;}
		.depth-3 {margin-left: 4%;}
		.depth-4 {margin-left: 6%;}
		.depth-5 {margin-left: 8%;}
		
		.byuser {
			@include  panel($primary-color);
			[class^="icon-"], a  {color: white;}
			}
	}
}

.widget {
	@include panel();
	@include radius(20px);
	li {margin-left: 1.25em;}
}
// FIX: A fixed top-bar partly disappears behind the wpadminbar 
body.logged-in .fixed {
	top: 28px; // the wpadminbar has a height of 28px
}
// FIX: sticky posts are receiving attributes from sticky top-bar
article.fixed {position: static; left: auto;top: auto !important; z-index: 1;}